<!DOCTYPE html>
<html>
    <head>
        <title>index</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>
        <h1>Exchange Prototype</h1><hr/>

        HTML:
        <ul>
          <li> <a href="static1">static1.html</a>
          <li> <a href="static2">static2.html</a>
          <li> <a href="static3">static3.html</a>
          <li> <a href="static4">static4.html</a>
          <li> <a href="static5">static5.html (large picture)</a>
          <li> <a href="static6">static6.html (small picture)</a>
        </ul>
        <hr/>

        JSP:
        <ul>
          <li> <a href="/login">         Login             </a></li>
          <li> <a href="/buy">           Buy (needs login) </a></li>
          <li> <a href="/sell">          Sell (needs login)</a></li>
          <li> <a href="/current">       Current stats     </a></li>
          <li><a href="/viewOrders">     Unfulfilled orders</a></li>
          <li><a href="/endTradingDay">  End trading day   </a></li>
        </ul>
        <hr/>
    </body>
</html>

