<!-- 
    Document   : loginSuccess
    Created on : Aug 30, 2012, 11:11:08 AM
    Author     : the saboteur
-->
<html>
  <head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	 <script type="text/javascript">
		function checkAuthentication() { 
			 if (<%=authenticatedUser%>==null){ 
				window.location = "/login"
			 }
		}
	</script>
  </head>
  <body OnLoad="checkAuthentication();">
    Your ID is: <%=userId%><br/>
    You have successfully logged in<br/>
    Functions available:<br/>
    <ul>
        <li><a href="buy">Buy</a></li>
        <li><a href="sell">Sell</a></li>
        <li><a href="logout">Log out</a></li>
    </ul>

  </body>
</html>
