<!--
    Document   : sellSuccess
    Created on : Sep 3, 2012, 3:51:21 AM
    Author     : the saboteur
-->

<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Sell Success</title>

  </head>

   <BODY>
        <FORM name="myform">
            <table border="1">
                <thead>
                    <tr>
                        <th>Acknowledge Sell Order Received</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>User ID</td>
                        <td><%=userId%></td>
                    </tr>
                    <tr>
                        <td>Quantity</td>
                        <td>1000</td>
                    </tr>
                    <tr>
                        <td>Stock to sell</td>
                        <td><%=stock%></td>

                    </tr>
                    <tr>
                        <td>Ask Price</td>
                        <td><%=askPrice%></td>
                    </tr>

                </tbody>
            </table>
        </FORM>
    <hr/>
    Functions available:<br/>
    <ul>
        <li><a href="/buy">Buy</a></li>
        <li><a href="/sell">Sell</a></li>
        <li><a href="/logout">Log out</a></li>
        <li><a href="/current">Current stats</a></li>
        <li><a href="/viewOrders">Unfulfilled orders</a></li>
    </ul>
    </BODY>
</html>
