<!DOCTYPE html>
<html>
  <head>
    <title>Large Picture</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  </head>
  <body>
    <div><img src="images/picture_large.png" /></div>
  </body>
</html>
