<!-- 
    Document   : logout
    Created on : Aug 30, 2012, 11:26:55 AM
    Author     : the saboteur
-->

<!DOCTYPE html>

<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Logout</title>
    </head>
    <body>
        You have successfully logged out. <br/>
        Click <a href="login">here</a> to log in again.
    </body>
</html>
